<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="HtmlAgilityPack" version="1.5.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Rg.Plugins.Popup" version="1.0.4" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="SharpZipLib.Portable" version="0.86.0.0003" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugin.WebView" version="2.0.10" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Dialog.Plugin.FilePicker" version="1.0.3" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.4.0.282" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms.WrapLayout" version="1.0.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>