<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Production settings put into ReaderApp.Release.config -->
        <add key="Firebase_BaseUrl" value="https://ebook-reader-b6053.firebaseio.com/" />
        <add key="Firebase_ApiKey" value="AIzaSyA4TOO3_Pa1kb_s6zjBMqpehPLrTk8SrLA" />
        <add key="Dropbox_ClientID" value="wk719mekght88r6" />
        <add key="AppCenter_Android" value="3409ff3e-0819-467d-b9a0-69f611f33bcb" />
        <add key="AppCenter_UWP" value="737f997b-2a89-441d-8248-7f1f1fc889e3" />
    </appSettings>
</configuration>
