$font-sizes: 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40;
$margins: 15, 30, 45;

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    @each $size in $font-sizes {
        &.reader-font-size-#{$size} {
            font-size: #{$size}px;
        }
    }

    @each $margin in $margins {
        &.reader-margin-#{$margin} {
            #columns-outer {
                left: #{$margin}px;
                top: #{$margin}px;
            }
        }
    }

    &.reader-night-mode {
      background-color: #181819;
      color: #eff2f7;
    }
}

#columns-outer {
    overflow: hidden;
    position: relative;
    will-change: scroll-position;
}

#columns-inner {
    height: 100%;
    column-gap: 0px;
}

.js-ebook-page-begin {
    display: inline-block;
}

#content {
    position: relative;
    opacity: 0;

    * {
      word-wrap: break-word;
      will-change: position; // Chrome
    }

    pre {
      white-space: pre-wrap;
    }
}